# config
install
cmdline
skipx
reboot
cdrom
eula --agreed
firstboot --disable
logging --level=info

# authentication
auth  --useshadow  --passalgo=sha512
firewall --enabled --service=ssh
selinux --enforcing

# localazation
lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts='us'
timezone America/New_York --isUtc

# network
network  --bootproto=static --device=ens3 --gateway={{ host_ip }} --nameserver={{ host_ip }} --ip={{ vm.ip }} --netmask=255.255.255.0 --ipv6=disable --activate
network --hostname={{ vm.name }}

# disks
bootloader --append=" crashkernel=auto" --location=mbr
clearpart --all --initlabel
autopart --type=lvm

%packages
@core
chrony
kexec-tools
%end
